<!DOCTYPE html>
<html lang="en">
<head>
    <!--Josefin sans  -->
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>

    <!--Font awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!--GLIDER CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/user_profile.css">
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5"  style="width: 60rem">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" src="https://www.w3schools.com/howto/img_avatar2.png">
                <span class="font-weight-bold">Apurva</span><span class="text-black-50">apurva@email.com</span><span> </span>
            </div>
        </div>
        <div class="col-md-8" >
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Username</label>
                        <input type="text" class="form-control" placeholder="Apurva" value="" disabled>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Phone number</label>
                        <input type="text" class="form-control" placeholder="9876543211" value="" disabled>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Email ID</label>
                        <input type="text" class="form-control" placeholder="apurva@email.com" value="" disabled>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">City</label>
                        <input type="text" class="form-control" placeholder="Delhi" value="" disabled>
                    </div>
                </div>
<!--                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>-->
                <div class="d-flex justify-content-between align-items-center experience" style="margin-top: 1rem">
                    <span class="border px-3 p-1 add-experience"><i class="fa fa-edit"></i> Edit Profile</span>
                </div>
            </div>
        </div>
<!--        <div class="col-md-4">-->
<!--            <div class="p-3 py-5">-->
<!--                <div class="d-flex justify-content-between align-items-center experience">-->
<!--                    <span class="border px-3 p-1 add-experience"><i class="fa fa-edit"></i> Edit Profile</span>-->
<!--                </div><br>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<script src="/js/profile_vendor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>