/*body {*/
/*    background: #66bfbf;*/
/*}*/

img{
    width: 12rem;
    height: 12rem;
    
}

.form-control:focus {
    box-shadow: none;
    border-color: #9ed4d4;
}

.profile-button {
    background: #66bfbf;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #66bfbf;
}

.profile-button:focus {
    background: #66bfbf;
    box-shadow: none
}

.profile-button:active {
    background: #66bfbf;
    box-shadow: none
}

.back:hover {
    color: #66bfbf;
    cursor: pointer
}

.labels {
    color: rgba(0,0,0,.5);
    margin-top: 1.3rem;
    font-size: 13px
}

.add-experience:hover {
    background: #9ed4d4;
    color: #fff;
    cursor: pointer;
    border: solid 1px #9ed4d4;
}

select{
    padding-right: 6rem;
    border: white;
    margin-left: -0.25rem;
}